name: Build ZMK firmware
on:
    push:
        branches:
            - main
            - dev
    pull_request:
        branches:
            - main
            - dev
    workflow_dispatch:

jobs:
    build:
        uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v0.3
